body {
	margin:0 auto 0;
	background: #dfdfdf url(../images/background.jpg) repeat;
}

a, a:visited {
	color:#21759B;
	text-decoration:none;
	vertical-align:bottom;
}

a:hover {
	color:#D54E21;
	text-decoration:underline;
}

a.delete {
	color:#BC0B0B;
	text-decoration:none;
}

a.delete:hover {
	color:#F00;
	text-decoration:underline;
}

form div, form fieldset div {
	margin: .7em .3em;
}

input.wide {
	width: 98%;
}


.content {
	margin:auto;
	padding:20px;
	width:500px;
	background-color: #f5f5f5;
}


/* ************ *
 * miscellanous *
 * ************ */

/* drop shadow */
.shadow_0 {
	box-shadow: 0 0 10px #aaaaaa;
	-webkit-box-shadow: 0 0 10px #aaaaaa;
	-moz-box-shadow: 0 0 10px #aaaaaa;
}

.shadow_1 {
	box-shadow: 0 1px 10px #aaaaaa;
	-webkit-box-shadow: 0 1px 10px #aaaaaa;
	-moz-box-shadow: 0 1px 10px #aaaaaa;
}

.shadow_2 {
	box-shadow: 0 2px 10px #aaaaaa;
	-webkit-box-shadow: 0 2px 10px #aaaaaa;
	-moz-box-shadow: 0 2px 10px #aaaaaa;
}

.shadow_3 {
	box-shadow: 0 3px 10px #aaaaaa;
	-webkit-box-shadow: 0 3px 10px #aaaaaa;
	-moz-box-shadow: 0 3px 10px #aaaaaa;
}

.shadow_4 {
	box-shadow: 0 4px 10px #aaaaaa;
	-webkit-box-shadow: 0 4px 10px #aaaaaa;
	-moz-box-shadow: 0 4px 10px #aaaaaa;
}

.shadow_5 {
	box-shadow: 0 5px 10px #aaaaaa;
	-webkit-box-shadow: 0 5px 10px #aaaaaa;
	-moz-box-shadow: 0 5px 10px #aaaaaa;
}

/* rounded corner */
.rounded_1 {
	border-radius: .1em;
	-webkit-border-radius: .1em;
	-moz-border-radius: .1em;
}

.rounded_2 {
	border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
}

.rounded_3 {
	border-radius: .3em;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
}

.rounded_4 {
	border-radius: .4em;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
}

.rounded_5 {
	border-radius: .5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
}


.left {
	float: left;
}

.right {
	float: right;
}


/* NOTIFICATION */
.info, .error {
	margin: 0 0 16px 8px;
	padding: 12px;
}

.info {
	background-color: lightYellow;
	border: 1px solid #E6DB55;
}

.error {
	background-color: #FFEBE8;
	border:1px solid #c00;
}*/